BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 88
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseSensitive
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
